$bgColor: #21232e;
$textText: #fff;
$textColor: #fff;
$headerBgImage: url(../img/m-h-night.jpg);
$title:'Source Sans Pro', sans-serif;
$text: 'Fresca', sans-serif; 
$ff: 'Hind', sans-serif;
$btnColor: #e3ac00;
$cardColor: #3b3f50;
$lineColor: #ff4e33;
$gradientLeft: #d99d0a;
$gradientRight: #953050;