$bgColor: white;
$textText: white;
$textColor: #2c2f3c;
$headerBgImage: url(../img/m-h-day.jpg);
$title: 'Source Sans Pro', sans-serif;
$text: 'Hind', sans-serif;
$ff: 'Fresca', sans-serif;
$btnColor: #699900;
$cardColor: #21232e;
$lineColor: #14a0c7;
$gradientLeft: #649412;
$gradientRight: #305fcb;